In [0]:
# collection of types

## collection of types:

1.   List 
2.   tuple
3. dictionary

In [0]:
list1=[12,13,45.6,"abc",True]
list1.append(400)
list1.append(14.2)
print(list1)

[12, 13, 45.6, 'abc', True, 400, 14.2]

In [0]:
list1=[12,13,45.6,"abc",True]
list1.append(400)
list1.append(14.2)
list1.insert(2,892)
print(list1)

[12, 13, 892, 45.6, 'abc', True, 400, 14.2]

In [0]:
list1=[12,13,45.6,"abc",45.6,True]
list1.append(400)
list1.append(14.2)
list1.insert(2,892)
print(list1)
list1.extend([500,227,27])
print(list1)

[12, 13, 892, 45.6, 'abc', True, 400, 14.2]
[12, 13, 892, 45.6, 'abc', True, 400, 14.2, 500, 227, 27]

In [0]:
del list1[3]
print(list1)

[227, 500, 14.2, 45.6, 13]

In [0]:
list1.reverse()
list1

[227, 500, 14.2, 'abc', 45.6, 13]

In [0]:
list1.sort(reverse=True)
list1

[500, 227, 45.6, 14.2, 13]

In [0]:
list1.count()

0

## Accept three subject marks of the student and store values in a list 
## return total marks of the students

In [0]:
m1=int(input())
m2=int(input())
m3=int(input())
list2=[m1,m2,m3]
Total=m1+m2+m3
print(Total)

40
50
0
90

In [0]:
## Accept three subject marks of the student and store values in a list 
## return total marks of the students
n=int(input("enter no. of subjects"))
marks=[]
for i in range(n):
  marks.append(int(input()))
print("sum=",sum(marks))

enter no. of subjects3
70
80
90
sum= 240

In [0]:
# Tuple-->indexed,ordered,allow,duplicate,values,immutable
# use()
t1=(23,24,45,67)
l1=list(t1)
l1[2]=100
t1=tuple(l1)
l1

[23, 24, 100, 67]

In [0]:
help("tuple")

Help on class tuple in module builtins:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

In [0]:
# dic1={key1:value1,key2:value2,..........}
# rules for keys:
# 1.keys should be unique
# 2.keys should be immutable(numbers,strings,tuple)
dict1={"name":"bittu","roll number":27,"course":"cse"}
# adding new entry
dict1["address"] = "hyd"
dict1

{'address': 'hyd', 'course': 'cse', 'name': 'bittu', 'roll number': 27}

In [0]:
del dict1["course"]
dict1

{'address': 'hyd', 'name': 'bittu', 'roll number': 27}

In [0]:
dict1["course"]="ban"
dict1

{'address': 'hyd', 'course': 'ban', 'name': 'bittu', 'roll number': 27}